[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "my_plugins/lightline-bufferline"]
	path = my_plugins/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git 
[submodule "my_plugins/robotframework-vim"]
	path = my_plugins/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "my_plugins/unicode.vim"]
	path = my_plugins/unicode.vim
	url = https://github.com/chrisbra/unicode.vim.git
[submodule "my_plugins/vim-easy-align"]
	path = my_plugins/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "my_plugins/vim-orgmode"]
	path = my_plugins/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "my_plugins/vim-speeddating"]
	path = my_plugins/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim-tmux-focus-events"]
	path = my_plugins/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim-tmux"]
	path = my_plugins/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "my_plugins/vim-tmux-navigator.git"]
	path = my_plugins/vim-tmux-navigator.git
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "my_plugins/vim-matchup"]
	path = my_plugins/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "my_plugins/vim-prettier"]
	path = my_plugins/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "my_plugins/vim-javascript"]
	path = my_plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript
