[submodule "my_plugins/lightline-bufferline"]
	path = my_plugins/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule "my_plugins/robotframework-vim"]
	path = my_plugins/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "my_plugins/unicode.vim"]
	path = my_plugins/unicode.vim
	url = https://github.com/chrisbra/unicode.vim.git
[submodule "my_plugins/vim-easy-align"]
	path = my_plugins/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "my_plugins/vim-orgmode"]
	path = my_plugins/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "my_plugins/vim-speeddating"]
	path = my_plugins/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim-tmux-focus-events"]
	path = my_plugins/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim-tmux"]
	path = my_plugins/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "my_plugins/vim-tmux-navigator.git"]
	path = my_plugins/vim-tmux-navigator.git
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "my_plugins/vim-matchup"]
	path = my_plugins/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "my_plugins/nvim-yarp"]
	path = my_plugins/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "my_plugins/vim-hug-neovim-rpc"]
	path = my_plugins/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "my_plugins/vim-fugitive"]
	path = my_plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "my_plugins/tlib"]
	path = my_plugins/tlib
	url = https://github.com/tomtom/tlib_vim
[submodule "my_plugins/copilot.vim"]
	path = my_plugins/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "my_plugins/ale"]
	path = my_plugins/ale
	url = https://github.com/dense-analysis/ale
[submodule "my_plugins/vim-lsp"]
	path = my_plugins/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "my_plugins/nerdcommenter"]
	path = my_plugins/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "my_plugins/vim-colors-solarized"]
	path = my_plugins/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "my_plugins/ack"]
	path = my_plugins/ack
	url = https://github.com/mileszs/ack.vim.git
